.ms-resume{
    padding-bottom:150px;
    text-align: center;
}

.ms-resume__heading{
    margin-bottom: 20px;
}

.ms-btn{
    display: inline-block;
    border:0;
    padding: 6px 10px;
    background: $primary;
    color: $white;
    border-radius: 4px;
}

.ms-btn__courage{
    margin-top: 60px;
}

.ms-btn--project{
    margin-right: 30px;
    &:last-child{
        margin:0;
    }
}