header {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background: $green;
  overflow: hidden;
  padding: 3px 0;
  // position: fixed;
  width: 100%;
  z-index: 99;
}

.ms-brand {
  // margin-left: -150px;
}

.ms-brand a {
  color: #fff;
}

.ms-menu__btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 999;
  & span {
    width: 20px;
    height: 3px;
    background: #fff;
    position: relative;
    z-index: 999;
  }
  & span::before,
  & span::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background: #fff;
  }
  & span::before {
    top: -6px;
  }
  & span::after {
    top: 6px;
  }
}

// .ms-menu__btn:hover {
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
// }

.ms-navigation {
  position: fixed;
  background: $green;
  top: 0px;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 200px;
  display: flex;
  padding-top: 80px;
  padding-left: 0px;
  z-index: 90;
  transition: 0.4s ease-out;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.ms-menu {
  display: flex;
  flex-direction: column;
}

.ms-menu__item {
  margin-bottom: 20px;
}

.ms-fa {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.ms-menu__link {
  font-size: 18px;
  color: #fff;
  &:hover {
    color: #fbc531;
  }
  &:active {
    color: #fbc531;
  }
}

@media screen and (max-width: 1000px) {
  .ms-menu__btn {
    display: flex;
  }
  .ms-navigation {
    transform: translate(-100%);
  }
  .ms-header {
    position: fixed;
  }
  
}

.ms-brand {
  margin: 0;
}

.ms-open__menu {
  transform: translate(0%);
}

.ms-open__menu--btn {
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  & span {
    background-color: transparent;
    transition: 0.5s ease;
    &::before {
      top: 0;
      transform: rotate(45deg);
    }
    &:after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}

@media screen and (max-width: 450px) {
  .ms-navigation {
    width: 100%;
    align-items: center;
  }
}

.ms-active {
  color: #fbc531;
}
