// $primary:rgba(209, 42, 48,1);
// $secondary:rgb(1,1,1);
$primary:#e84118;
$secondary:#c23616;
$blue:rgb(6, 40, 79);
// $strips:rgb(23, 132, 99);
// $strips:rgb(31, 78, 130);
// $strips:rgb(87, 124, 166);
$green:#144736;
$strips:#144736;
$white:#fff;